@import '../variables.scss';

button{
    right: 10vw;
    border: none;
    outline: none;
    background: transparent;
    color: var(--MainTextColor);
    box-shadow: unset !important;
    cursor: pointer;

    &:hover{
        color: var(--HTextColor);
    }
}