@import "./index.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: .1rem;
}

body {
  background: var(--MainBgColor);
  color: var(--MainTextColor);
  min-height: 100vh;
  transition: all ease-in-out .5s;

}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

li {
  list-style: none;

}

li>a:hover {
  color: var(--HTextColor);
  transform: scale(1.25);
  transition: all ease-out .25s;
}

button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

span {
  color: var(--HTextColor);
}