@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --MainBgColorLight: #f0f8ff;
  --MainTextColorLight: #0A0A0A;
  --SecBgColorLight: #F0F0F0;
  --SecTextColorLight: #555555;
  --HTextColorLight: #7A33FF;
  --ContrastTextColorLight: #A382FF;

  --DarkBgColor: #0A0A0A;
  --DarkTextColor: #F8FFFF;
  --SecDarkBgColor: #1C1C1C;
  --SecDarkTextColor: #CCCCCC;
  --HDarkTextColor: #A259FF;
  --ContrastDarkTextColor: #D896FF;
}


body.light {
  --MainBgColor: var(--MainBgColorLight);
  --MainTextColor: var(--MainTextColorLight);
  --SecBgColor: var(--SecBgColorLight);
  --SecTextColor: var(--MainTextColorLight);
  --HTextColor: var(--HTextColorLight);
  --ContrastTextColor: var(--ContrastTextColorLight);
}

body.dark {
  --MainBgColor: var(--DarkBgColor);
  --MainTextColor: var(--DarkTextColor);
  --SecBgColor: var(--SecDarkBgColor);
  --SecTextColor: var(--SecDarkTextColor);
  --HTextColor: var(--HDarkTextColor);
  --ContrastTextColor: var(--ContrastDarkTextColor);
}